antistasi_sqf_tools==0.5.11
sphinx
sphinxcontrib-mermaid
groundwork-sphinx-theme
sphinxcontrib.fulltoc
sphinx-copybutton
myst-parser
sphinx-design
yarl
PyGithub
sphinx-issues
sphinx-nameko-theme
sphinx_bootstrap_theme
sphinx-readable-theme
sphinx-redactor-theme
